__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/

# pyenv
.python-version

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Documentation build artifacts
docs/_build/
docs/autoapi/

# IDE and editor files
.idea/

/coverage.xml
/.coverage
